.message_box_effect_wraper{
    height: 100%;
}
.room-input-wrap,
.room-submit-wrap,
#talks{
//display:none;
}
#drrr-auto-panel{
    font-weight: bold;
}
#drrr-auto-content{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
#drrr-auto-content .items{
    display: flex;
    align-items: center;
    padding: 8px;
}
#drrr-auto-content a{
    color: #aaa;
}
#drrr-auto-content input[type=checkbox]{
    margin: auto;
    margin-right: 3px;
}

#drrr-auto-content input[type=checkbox]{
    outline: none;
    appearance: none;
    position: relative;
    width: 2.6rem;
    height: 1.52rem;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #ccc;
}
#drrr-auto-content input[type=checkbox]::after{
    content: '';
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 2px #999;
    transition: left 0.1s linear;
    position: absolute;
    top: 0;
    left: 0;
}
#drrr-auto-content input[type=checkbox]:checked{
    background-color: #32ba58;
}
#drrr-auto-content input[type=checkbox]:checked:after{
    position: absolute;
    top: 0;
    left: 50%;
}
.layui-layer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layui-layer-content button{
    color: #262629;
    margin: 5px auto;
    background-color: #fff;
    border-radius: 9px;
    padding: 5px;
}

.layui-layer-content .user-items div{
    display: inline-block;
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}